@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');


body{
    font-family: 'Merriweather', serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

.skip{
    position: absolute;
    top: -40px;
    left: 10px;
    color: #00274C;
    background-color: white;
    padding: 10px;
    z-index: 100;
    text-decoration: none;
}
.skip:focus{
    top: 20px;
}

:focus{
    outline: none;
    border: 2px solid;
}

.head{
    color: white;
    padding: 20px;
    text-align: center;
}
nav{
    background: #00274C;
    list-style: none;
    padding: 0;
}
.head nav ul li{
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 16px;
}

nav a:hover, nav a:focus, nav a.active{
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

.head h1{
    font-size: 30px;
    font-weight: bold;
    color: #00274C;
    padding: 10px 0 0 0
}

.welcome{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-block{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 15px;
    background: #eef5ff;
    border-left: 5px solid #00274C;
}

.text-block article{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 15px;
}

.text-block article figure{
    display: flex;
    justify-content: center;
}

.text-block article p{
    grid-column: 1 / -1;
}

.health{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 15px;
    background: #eef5ff;
    border-left: 5px solid #00274C;
}

.health article{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 15px;
}

.health article figure{
    display: flex;
    justify-content: center;
}

img{
    max-width: 70%;
    max-height: 70%;
    height: auto;
    border-radius: 5px;
    border: 5px #00274C solid;
}

.text-block a{
    padding: 5px;
    color: black;
}


footer{
    display: grid;
    text-align: center;
    padding: 15px;
    background: #00274d;
    color: white;
}

footer a{
    color: #FFCB05;
    text-decoration: none;
    text-decoration: underline;
}
footer a:hover,
footer a:focus{
    text-decoration: underline;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.text-block ul{
    margin-left: 20px;
}

@media screen and (min-width: 1024px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .welcome{
        grid-column: 1/-1;
    }

    .Physical{
        grid-column: 1;
    }
    .bell{
        grid-column: 1;
        grid-row: 2;
        gap: 10px;
        padding: 15px;
        background: #eef5ff;
        border-left: 5px solid #00274C;
        padding: 10px;
    }

    .bell_tower{
        grid-column: 2;
        grid-row: 2;
        justify-content: center;
    }

    .recreation{
        grid-column: 2;
    }

    .recreation h3{
        grid-column: 2;
    }

    .sports{
        grid-column: 2;
        gap: 10px;
        padding: 15px;
        background: #eef5ff;
        border-right: 5px solid #00274C;
        padding: 10px;
    }

    .im{
        grid-column: 1;
    }

    .mental{
        grid-column: 1;
        justify-items: center;
        border-right: 5px black solid;
    }

    .outside{
        grid-column: 2;
        justify-content: center;
    }

    .peer{
        grid-column: 1;
        grid-row: 2;
        background: #eef5ff;
        border-left: 5px solid #00274C;
        padding: 10px;
    }

    .learning{
        grid-column: 1;
        grid-row: 4;
        background: #eef5ff;
        border-left: 5px solid #00274C;
        padding: 10px;
    }

    .sweetland{
        background: #eef5ff;
        border-right: 5px solid #00274C;
        padding: 10px;
    }

    .reach{
        grid-column: 1;
        grid-row: 2;
        background: #eef5ff;
        border-left: 5px solid #00274C;
        padding: 10px;
    }

    .ktp{
        grid-column: 1;
        grid-row: 4;
        background: #eef5ff;
        border-left: 5px solid #00274C;
        padding: 10px;
    }

    .atd{
        background: #eef5ff;
        border-right: 5px solid #00274C;
        padding: 10px;
    }

    .shapiro, .hatcher, .dude, .nq{
        background: #eef5ff;
        border: 5px solid #00274C;
        padding: 10px;
    }

    .img-shapiro img, .img-hatcher img, .img-dude img, .img-nq img{
        display: block;
        margin: 0 auto;
    }

    .img-reach, .img-atd, .img-ktp{
        display: grid;
        place-items: center;
        min-height: 100%;
    }

    .img-peer, .img-study, .img-group{
        display: grid;
        place-items: center;
        min-height: 100%;
    }

    .bell_tower, .im{
        display: grid;
        place-items: center;
        height: 100%;
    }

    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f8f9fa;
    }
    
    .fourofour {
        text-align: center;
    }
    
    .fourofour-content {
        display: flex;
        align-items: center; 
        gap: 20px; 
    }
    
    .fourofour img {
        max-width: 150px;
        height: auto;
    }
    
    .text-content {
        text-align: left;
    }
    
    .fourofour h1 {
        font-size: 50px;
        color: #00274C;
    }
    
    .fourofour p {
        font-size: 20px;
        color: #6c757d;
    }
    
    .fourofour a {
        text-decoration: none;
        color: #00274C;
        font-size: 18px;
        font-weight: bold;
    }
    
    .fourofour a:hover {
        text-decoration: underline;
    }
    
    form {
        margin-top: 30px;
        background-color: #ffffff;
        padding: 60px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        text-align: left;
    }
    
    fieldset {
        border: none;
        padding: 0;
    }
    
    legend {
        font-size: 24px;
        font-weight: bold;
        color: #00274C;
        margin-bottom: 20px;
    }
    
    label {
        font-size: 16px;
        color: #343a40;
        display: block;
        margin-bottom: 8px;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    
    textarea {
        resize: vertical;
        min-height: 150px;
    }
    
    input[type="submit"] {
        background-color: #00274C;
        color: white;
        border: none;
        padding: 12px 25px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
    }
    
    input[type="submit"]:hover {
        background-color: #005a8e;
    }

    .help a {
        text-decoration: none;
        color: #00274C;
        font-size: 18px;
        font-weight: bold;
    }

    .help a:hover {
        text-decoration: underline;
    }

    #submit:focus{  
        border: 5px solid  #FFCB05;
    }
    

}
